:root {
  --pallette-color-0: #fff;
  --pallette-color-1: #fafafa;
  --pallette-color-2: #f5f5f5;
  --pallette-color-3: #ececec;
  --pallette-color-4: #dedede;
  --pallette-color-5: #d4d4d4;
  --pallette-color-6: #000;
}
