@import "./pallette.css";
@import "./Header.css";
@import "./DateView.css";
@import "./Habits.css";
@import "./Input.css";

.app {
  width: 100vw;
  max-width: 1024px;

  margin: 0 auto;
  box-sizing: border-box;

  background: var(--pallette-color-3);
  /* background: #ececec; */
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
  .header {
    height: 4rem;
  }
  .header__container {
    padding: 1rem 2rem;
  }
  .header__container--text {
    font-size: 2rem;
  }

  .dateview {
    top: 4rem;
  }

  .habits {
    margin: 0 1rem;
    margin-top: 4.5rem;
  }

  .input__toast {
    left: calc(50vw - 384px);
  }
}
@media (min-width: 1024px) {
  .dateview {
    left: calc((100% - 1024px) / 2);
  }
}
